@import url('https://fonts.google.com/specimen/Spartan?preview.size=20#standard-styles');
*{
    font-family: Spartan, sans-serif;
}
html{
     background-color: #d5e7cc;
    }
body{
    
    width: 70%;
    /*text-align: center;*/
    background-color: #F2F2F2;
    background-clip: content-box; /*Commando para recortar el fondo al contenido*/
    padding-left: 15%;
}
h1{
    text-align: center;
}
#tittle{
    color: black;
    text-decoration: none;
}
#tittle:hover{
    color: #6AA668;
    text-shadow: 2px 2px black;
    transition: all 0.3s ease 0s;
    /*cursor: grab;*/
    /*cursor: url=("Img/Cursor1.svg"), pointer;*/
}
img {
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5); /* r, g, b, alfa (transparencia) */
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.menunav{
    text-align: center;
    /*background-color: #6AA668;*/
    background: repeating-linear-gradient(
        -45deg,
        #96BF8F,
        #96BF8F 20px,
        #6AA668 20px,
        #6AA668 40px
      ); 
    padding: 10px;   
}
.bottonmenu{
    outline-style: solid;
    outline-color: #5c8551;
    background-color: #96BF8F;
    color: #F2F2F2;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
}
.bottonmenu:hover{
    color: #494949 ;
    background-color: #F2F2F2;
    border-width: 1px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: all 0.5s ease-out 0s;
}
p{
    color:black;
    font-size: 11pt;
    text-align: justify;
    margin: 10px;
}
li{
    color:black;
    font-size: 11pt;
    text-align: justify;
    margin: 10px;
}
/*Página 1*/
.LTransp{
    list-style-type: square;
    padding: 1%;
}
.LTransp li {
    margin: 20px;
}
.imgCenter{
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img_pg1L{
    float: left;
    width: 190px;
    height: auto;
    margin: 5px;
}
.img_pg1R{
    float: right;
    width: 200px;
    height: auto;
    margin: 5px;
}

#market{
    float: right;
    width: 250px;
    height: auto;
    margin: 5px;
    margin-top: 70px;
}
.grImgpg1{
    height: 25px;      /* equals max image height */
    width: 200px;
    float: right;
    white-space: nowrap;
    padding: 2%;
    padding-bottom: 60%;
}

/* Página uno*/
.Img-uno{
    float: right;
    width: 200px;
    height: auto;
    margin: 5px;
}
#MPP{
    float: Left;
    width: 250px;
    height: auto;
    margin: 5px;
}
.Tpg1{
    padding: 5px;
    text-align: justify;
    table-layout: fixed;
    word-wrap: break-word;
    border-collapse: collapse;
}
.Tpg1 th,td{
    min-width: 122px;
    resize: both; 
    overflow: auto;
    padding: 5px;
    border: 1px solid black;
}
.Tpg1 th {
    background-color: #96BF8F;
    color: #F2F2F2;
}
.Tpg1 td:hover{
    background-color: #96BF8F;
    color: #F2F2F2;
}
.Tpg1 th:hover{
    background-color: #F2F2F2;
    color: black;
}
/*Página 2*/
.img_pg2{
    float: right;
    width: 250px;
    height: auto;
    margin: 5px;
}
.grImgpg2{
    height: 25px;      /* equals max image height */
    width: 200px;
    float: right;
    white-space: nowrap;
    padding: 2%;
    padding-left: 7%;
    padding-bottom: 60%;
}

/*Página 3*/
.img_pg3{
    float: right;
    width: 300px;
    height: auto;
    margin: 5px;
}
.grImgpg3{
    height: 25px;      /* equals max image height */
    width: 200px;
    float: right;
    white-space: nowrap;
    padding: 2%;
    padding-left: 10%;
    padding-bottom: 87%;
}
.List3{
    margin-left: 5px;
}
/*Página 4*/
.gr1Imgpg4{
    height: 25px;      /* equals max image height */
    width: 200px;
    float: right;
    white-space: nowrap;
    padding: 2%;
    padding-left: 9%;
    padding-bottom: 60%;
}
.gr2Imgpg4{
    height: 25px;      /* equals max image height */
    width: 200px;
    float: right;
    white-space: nowrap;
    padding: 2%;
    padding-left: 9%;
    padding-bottom: 45%;
}
.img_pg4{
    float: right;
    width: auto;
    height: 160px;
    margin: 5px;
}